{% extends "anonymous_base.html" %}
{% load i18n %}
{% load static %}
{% load forms_tags %}
{% block page_title %}{% translate "Sign In" %}{% endblock %}
{% block content %}
  <div class="w-96 px-4 py-4">
    <div>
      <form class="mt-6 space-y-6" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% render_field form.login %}
        {% render_field form.password %}
        <div>
          <input class="btn btn-primary btn-block" type="submit" value="{% translate "Sign In" %}">
        </div>
      </form>

      {% include 'accounts/includes/social/social_buttons.html' %}

      <!-- Copyright -->
      <div class="text-center text-xs text-base-content/50 mt-6">
        © 2026 
        <a href="https://siresoft.com/" class="text-[#0525A8] hover:underline font-medium">
          SireSoft
        </a> 
        - All rights reserved. A LoneGroup Company.
      </div>

    </div>
  </div>
{% endblock %}